//sass --watch css:css
@import "_lib.scss";

$bg-color:#333399;
$brown:#ad7721;

.wrapper-container{
    margin:0 auto;
    max-width: 1280px;
}

.heading-2{
    font-size:30px;
    line-height: 48px;
    text-transform: uppercase;    

    &.brown{
        color:$brown;
    }
}

p{
    margin:0 0 50px;
}

.margin-center{
    margin:0 auto;
}

#header{
    background: $bg-color;
    padding:0px 0;
    
    .wrapper-container{
        display: flex;
    }

    .logo{
        flex-grow:2;
    }

    nav{
        flex-grow: 8;
        text-align: right;

        li{
            display: inline-block;
            font-size:12px;
            font-family:"Lato";
            font-weight:900;
            text-transform: uppercase;
            margin:0 20px;

            a{
                color:white;
                padding:50px 0;
                display: block;
                cursor: pointer;
                text-decoration: none;

                &::after{
                    content:" ";
                    height:4px;
                    width:100%;
                    background-color: $bg-color;
                    display: block;
                }

                &:hover{
                    &::after{
                        content:" ";
                        height:4px;
                        width:100%;
                        background-color: white;
                        display: block;
                    }
                    
                }
            }
        }
    }
}

.bg-blue{
    background-color: $bg-color;
    padding:1px 0;
}

body{
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
    background-color: #eff2f5;
}

.logo{
    width:195px;
    height:115px;
    @include background("logo.jpg",left,center);
    font-size:0;
}

.slider {
    width: 100%;
    margin: 0px auto;
    padding-bottom:50px;

    .heading-2{
        color:white;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size:50px;
        margin:20px 0;
        font-weight: 100;
        width:100%;
    }
}

.slick-slide{
    text-align: center;

    img{
        margin:0 auto;
    }
    div{
        div{
            position: relative;
        }
    }
}

.slick-prev, .slick-next{
    width:50px;
    height:50px;
    z-index: 2;

    &::before{
        font-size:50px;
    }
}

.slick-prev{
    left:25px;
    @include background("left-chevron.svg");

    &:hover{
        @include background("left-chevron.svg");
    }

    &:before{
        content:none;
    }
}

.slick-next{
    right:25px;
    @include background("right-chevron.svg",right);

    &:hover{
        @include background("right-chevron.svg",right);
    }

    &:before{
        content:none;
    }
}

.container{
    padding:60px 0;
}

.wig{
    &::before{
        width:200px;
        height:8px;
        background-color:$bg-color;
        content:" ";
        display: block;
        margin:0 auto 25px;
        border-radius:16px;
    }
}

.wig-brown{
    @extend .wig;
    
    &::before{
        background-color: $brown;
    }
}

.intro{
    text-align: center;
    font-size:19px;
    line-height: 30px;
    margin:0 0 50px;

    strong{
        color:$bg-color;
    }
}

.logos{
    text-align: center;

    img{
        margin:0 5px;
    }
}

.bg-grey{
    background-color: #e1e1e1;
}

.center{
    text-align: center;
}

.grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    margin:0 0 50px;

    .item{
        background-color:#c2c2c2;
        padding:30px;

        .heading-4{
            margin:0 0 20px;
            font-size:25px;
            text-align: left;
            display: block;
            text-transform: uppercase;
            
            &::after{
                height:8px;
                background-color: white;
                width:100px;
                content:" ";
                display: block;
                margin-top:15px;
            }
        }
    }
}

.button{
    font-size:17px;
    line-height: 26px;
    color:white;
    background-color: $bg-color;
    border-radius: 25px;
    padding:17px 70px 13px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        text-decoration: none;
    }
}

.button-brown{
    @extend .button;

    background-color:$brown;
}

.grid-2{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px 50px;
    margin:0 0 50px;

    p{
        margin-bottom:20px;
    }
}

.heading-3{
    text-transform: uppercase;
    color:$bg-color;
    font-size:20px;
    line-height: 26px;
}

.bg-white{
    background-color: white;
}

.grid-4{
    display:grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
}

.bedrunner{
    text-align: center;

    p{
        color: white;
        font-size:26px;
        line-height: 32px;
    }
}

.subscribe{
    .heading-2{
        font-size:26p;
        line-height: 30px;
    }
    p{
        font-size:22px;
        line-height: 23px;
    }
    .button-brown{
        font-size:15px;
        line-height: 30px;
        padding:2px 15px;
        border:0;
    }
    input{
        padding:10px;
        min-width: 300px;
        font-size:17px;
        margin-right:10px;
    }
}

#footer{
    background-color: $bg-color;
    color:white;
    position: relative;
    padding:20px 0;

    .copyright{
        font-size:12px;
        line-height: 1.8;
        text-transform: uppercase;
        font-family: "Lato";
        border-left:5px solid white;
        padding:5px 0px 5px 15px;
        
        p{
            margin:0;
        }
    }

    .icon-media{
        float: right;

        img{
            width:16px;
            height:16px;
        }
    }
    .foot-copy{
        font-size:10px;
        font-family: "Lato";
        text-transform: uppercase;
        text-align: right;
        margin-bottom:0;
    }
}

.hamburger{
    display: none;
}

@media only screen and (max-width: 1280px) {
    .wrapper-container,.container{
        padding:0 20px;
    }

    #header{
        #navigation{
            display: none;
            position: absolute;
            z-index: 10;
            background: $bg-color;
            right: 0;
            top: 84px;
            width: 100%;

            &.open{
                display:block;
            }

            li{
                display: block;
                
                a{
                    padding:10px 15px 10px 0;
                }
            }
        }
    }
    .grid-2,.grid-3,.grid-4{
        grid-template-columns: auto;
    }

    .button{
        padding-left:10px;
        padding-right:10px;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper-container,.container{
        padding:20px 20px;
    }
    
    .hamburger{
        display:inline-block;
        color:white;
        padding:15px 15px 15px 15px;
    }

    .logo{
        height:50px;
    }

    .slider{
        height:100vh;

        img{
            height:100vh;
        }

        .heading-2{
            font-size:30px;
            padding:0 30px;
            width:70%;
        }
    }

    .slick-prev{
        left:10px;
    }
    .slick-next{
        right:10px;
    }

    #header .wrapper-container{
        padding-bottom:0;
    }
}