<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-SG" lang="en-SG" dir="ltr" prefix="og: http://ogp.me/ns#">
	<head><!-- Google Tag Manager -->
<script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TN8CNWDC');</script>
<!-- End Google Tag Manager -->
		<link rel="canonical" href="https://www.namazie-law.com/contact-us.html" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="description" content="Contact us for a free consultation and let our team guide you through your IP matters." />
		<meta property="og:title" content="NAMAZIE & Co. | Contact Our Legal Team" />
		<meta property="og:description" content="Contact us for a free consultation and let our team guide you through your IP matters." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.namazie-law.com/contact-us.html" />
		<meta property="og:image" content="https://www.namazie-law.com/images/contact-large.jpg" />
		<meta property="og:site_name" content="NAMAZIE & Co." />
		<link type="image/x-icon" href="./images/favicon.ico" rel="icon"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
		
		<link rel="preload" as="font" type="font/woff2" href="./font/avenir-font/avenirltstd-medium-webfont.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="./font/avenir-font/avenirltstd-heavy-webfont.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="./font/avenir-font/avenirltstd-black-webfont.woff2" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/edit.css"/>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/4176b122ea.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
		<script src="./js/main.min.js" type="text/javascript"></script>
		<title>NAMAZIE & Co. | Contact Our Legal Team</title>
	</head>
	<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN8CNWDC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Namazie Law",
        "url": "https://www.namazie-law.com/", // Ensure this is the main website URL
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.namazie-law.com/search?q={search_term_string}", // Correct search URL
            "query-input": "required name=search_term_string"
        }
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": ["LegalService", "LocalBusiness"],
      "name": "Namazie Law",
      "image": ["https://www.namazie-law.com/images/logo.jpg"],
      "@id": "https://www.namazie-law.com/",
      "url": "https://www.namazie-law.com/",
      "telephone": "+6565389711",
	  "priceRange": "$$",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "51 Goldhill Plaza #24-06/07",
        "addressLocality": "Singapore",
        "addressRegion": "Singapore",
        "postalCode": "308900",
        "addressCountry": "SG"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "1.3185510965741487",
        "longitude": "103.84298761140522"
      },
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "17:00"
        }
      ],
      "sameAs": [
        "https://www.facebook.com/namazielaw",
        "https://www.linkedin.com/company/namazie-law",
        "https://www.google.com/maps/place/51+Goldhill+Plaza,+%2324+06+07,+Singapore+308900/@1.3183098,103.8403698,17z/data=!3m1!4b1!4m5!3m4!1s0x31da19e7c6e0d31d:0x21224d3351c48ed6!8m2!3d1.3183044!4d103.8429447?entry=ttu&g_ep=EgoyMDI1MDYwOC4wIKXMDSoASAFQAw%3D%3D"
      ],
      "description": "Contact us for a free consultation and let our team guide you through your IP matters."
    }
    </script><span id="top"> </span>
		<a href="#top" class="back-to-top" style="display: block;"><i class="fa fa-angle-up fa-3x"></i></a>
		<div class="wrapper">
			<header id="header">
				<div class="wrapper-container">
					<a href="index.html" class="logo">
						<span>Namazie Law</span>
					</a>
					<div class="hamburger">
						<i class="fa-solid fa-bars"></i>
					</div>
					<nav id="navigation">
					</nav>
				</div>
			</header>
			<div id="maincontainer">
				<div class="gallery bg-blue">
					<div class="wrapper-container">
						<section class="gallery-image">
							<div class="hero-tagline-container">
								<h2 class="hero-tagline">turning your assets into rights</h2>
							</div>
							<picture>
								<!-- Small viewport: up to 767px -->
								<source 
									media="(max-width: 767px)" 
									srcset="././images/contact-small.jpg">

								<!-- Medium viewport: up to 1280px -->
								<source 
									media="(max-width: 1280px)" 
									srcset="././images/contact-medium.jpg">

								<!-- Fallback image for large viewports -->
								<img 
									loading="eager"
									src="././images/contact-large.jpg" 
									alt="A beautiful landscape responsive image example">
							</picture>
							<a href="#second" class="bounce"></a>
						</section>
					</div>
				</div>
				<div class="wrapper-container">
					<div class="container">
						<div class="subpage" id="second">
							<h1 class="title-heading"><strong>Contact</strong> Us</h1>
							<div class="col-2 contact-us">

								<div id="app" class="item">
									<form @submit.prevent="handleSubmit">
									  <div class="form-field">
										<label>
										  <span class="label">First Name:</span>
										  <input type="text" v-model="firstName">
										</label>
										<span class="error" v-if="errors.firstName"><img alt="error msg" class="error-msg" src="./images/error-msg.png"/> {{ errors.firstName }}</span>
									  </div>
								
									  <div class="form-field">
										<label>
										  <span class="label">Last Name:</span>
										  <input type="text" v-model="lastName">
										</label>
										<span class="error" v-if="errors.lastName"><img alt="error msg" class="error-msg" src="./images/error-msg.png"/> {{ errors.lastName }}</span>
									  </div>
								
									  <div class="form-field">
										<label>
										  <span class="label">Email:</span>
										  <input type="email" v-model="email">
										</label>
										<span class="error" v-if="errors.email"><img alt="error msg" class="error-msg" src="./images/error-msg.png"/> {{ errors.email }}</span>
									  </div>

									  <div class="form-field">
										<label>
										  <span class="label">Subject:</span>
										  <input type="text" v-model="subject">
										</label>
										<span class="error" v-if="errors.subject"><img alt="error msg" class="error-msg" src="./images/error-msg.png"/> {{ errors.subject }}</span>
									  </div>

									  <div class="form-field">
										<label>
										  <span class="label">Message:</span>
										  <textarea v-model="message"></textarea>
										</label>
										<span class="error" v-if="errors.message"><img alt="error msg" class="error-msg" src="./images/error-msg.png"/> {{ errors.message }}</span>
									  </div>
								
									  <div class="form-field">
										<span class="label"></span>
										<button class="button-brown" type="submit" id="contact-button">Submit</button>
									  </div>
									</form>
								  </div>

								<div class="divider"></div>

								<div class="item">
										<strong>Namazie &amp; Co.</strong><br>
										51 Goldhill Plaza #24-06/07<br>
										Penthouse 4<br>
										Singapore 308900<br>
										<br>
										<table width="100%" border="0">
										  <tbody>
											<tr>
											  <td width="90">Telephone</td>
											  <td>:       +65 65389711</td>
											</tr>
											<tr>
											  <td>Facsimile</td>
											  <td>: +65 65389722</td>
											</tr>
											<tr>
											  <td>Email</td>
											  <td>: <a href="mailto:general@namazie-law.com" class="underline">general@namazie-law.com</a></td>
											</tr>
										  </tbody>
									  </table>
										<br>	
								</div>
							</div>
							<br>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.76296307487!2d103.84084767541869!3d1.3178633986696398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19e7c7aa13d5%3A0xdfbcfc3c2d9c8768!2s51%20Goldhill%20Plaza%2C%20Singapore%20308900!5e0!3m2!1sen!2smy!4v1737563055871!5m2!1sen!2smy" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<footer id="footer">
				<div class="wrapper-container">
					
					<div class="copyright">
						<p>An Intellectual Property & Technology Law Firm</p>						
					</div>
					<div class="foot-container">
						<div class="icon-media">
							<a href="https://www.instagram.com/namazieandco/" target="_blank" class="icon">
								<img loading="lazy" src="./images/IG.svg" alt="Instagram">
							</a>
							<a href="https://www.facebook.com/Namazie.Co" target="_blank" class="icon">
								<img loading="lazy" src="./images/facebook.svg" alt="Facebook">
							</a>
							<a href="https://www.linkedin.com/company/namazie-&-co." target="_blank"  class="icon">
								<img loading="lazy" src="./images/linkedin.svg" alt="LinkedIn">
							</a>
						</div>
						<p class="foot-copy">
							Copyright © <span id="year"></span> Namazie & Co.
						</p>
					</div>
				</div>
			</footer>
		</div>
		<script src="js/contact-us.min.js" type="text/javascript"></script>
	</body>
</html>
