RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<Limit POST>  
order deny,allow  
deny from all 
allow from 127.0.0.1
</Limit> 

<FilesMatch ".*\.(php)$">
    Order Allow,Deny
    Deny from all

</FilesMatch>

Redirect 301 /d1.html http://yourherbsoutlet.com
Redirect 301 /d2.html http://yourherbsoutlet.com
Redirect 301 /d3.html http://yourherbsoutlet.com
Redirect 301 /d4.html http://yourherbsoutlet.com
Redirect 301 /d5.html http://yourherbsoutlet.com
Redirect 301 /d6.html http://yourherbsoutlet.com
Redirect 301 /d7.html http://yourherbsoutlet.com
Redirect 301 /d8.html http://yourherbsoutlet.com
Redirect 301 /d9.html http://yourherbsoutlet.com
Redirect 301 /d10.html http://yourherbsoutlet.com
Redirect 301 /d11.html http://yourherbsoutlet.com
Redirect 301 /d12.html http://yourherbsoutlet.com
Redirect 301 /d13.html http://yourherbsoutlet.com
Redirect 301 /d14.html http://yourherbsoutlet.com
Redirect 301 /d15.html http://yourherbsoutlet.com
Redirect 301 /d16.html http://yourherbsoutlet.com
Redirect 301 /d17.html http://yourherbsoutlet.com
Redirect 301 /d18.html http://yourherbsoutlet.com
Redirect 301 /d19.html http://yourherbsoutlet.com
Redirect 301 /d20.html http://yourherbsoutlet.com
Redirect 301 /d21.html http://yourherbsoutlet.com
Redirect 301 /d22.html http://yourherbsoutlet.com
Redirect 301 /d23.html http://yourherbsoutlet.com
Redirect 301 /d24.html http://yourherbsoutlet.com
Redirect 301 /d25.html http://yourherbsoutlet.com
Redirect 301 /d26.html http://yourherbsoutlet.com
Redirect 301 /d27.html http://yourherbsoutlet.com
Redirect 301 /d28.html http://yourherbsoutlet.com
Redirect 301 /d29.html http://yourherbsoutlet.com
Redirect 301 /d30.html http://yourherbsoutlet.com
Redirect 301 /d31.html http://yourherbsoutlet.com
Redirect 301 /d32.html http://yourherbsoutlet.com
Redirect 301 /d33.html http://yourherbsoutlet.com
Redirect 301 /d34.html http://yourherbsoutlet.com
Redirect 301 /d35.html http://yourherbsoutlet.com
Redirect 301 /d36.html http://yourherbsoutlet.com
Redirect 301 /d37.html http://yourherbsoutlet.com
Redirect 301 /d38.html http://yourherbsoutlet.com
Redirect 301 /d39.html http://yourherbsoutlet.com
Redirect 301 /d40.html http://yourherbsoutlet.com
Redirect 301 /d41.html http://yourherbsoutlet.com
Redirect 301 /d42.html http://yourherbsoutlet.com
Redirect 301 /d43.html http://yourherbsoutlet.com
Redirect 301 /d44.html http://yourherbsoutlet.com
Redirect 301 /d45.html http://yourherbsoutlet.com
Redirect 301 /d46.html http://yourherbsoutlet.com
Redirect 301 /d47.html http://yourherbsoutlet.com
Redirect 301 /d48.html http://yourherbsoutlet.com
Redirect 301 /d50.html http://yourherbsoutlet.com
Redirect 301 /d51.html http://yourherbsoutlet.com
Redirect 301 /d52.html http://yourherbsoutlet.com
Redirect 301 /d53.html http://yourherbsoutlet.com
Redirect 301 /d54.html http://yourherbsoutlet.com
Redirect 301 /d55.html http://yourherbsoutlet.com
Redirect 301 /d56.html http://yourherbsoutlet.com
Redirect 301 /d57.html http://yourherbsoutlet.com
Redirect 301 /d58.html http://yourherbsoutlet.com
Redirect 301 /d59.html http://yourherbsoutlet.com
Redirect 301 /d60.html http://yourherbsoutlet.com
Redirect 301 /d61.html http://yourherbsoutlet.com
Redirect 301 /d62.html http://yourherbsoutlet.com
Redirect 301 /d63.html http://yourherbsoutlet.com
Redirect 301 /d64.html http://yourherbsoutlet.com
Redirect 301 /d65.html http://yourherbsoutlet.com
Redirect 301 /d66.html http://yourherbsoutlet.com
Redirect 301 /d67.html http://yourherbsoutlet.com
Redirect 301 /d68.html http://yourherbsoutlet.com
Redirect 301 /d69.html http://yourherbsoutlet.com
Redirect 301 /d70.html http://yourherbsoutlet.com
Redirect 301 /d72.html http://yourherbsoutlet.com
Redirect 301 /d73.html http://yourherbsoutlet.com
Redirect 301 /d74.html http://yourherbsoutlet.com
Redirect 301 /d75.html http://yourherbsoutlet.com
Redirect 301 /d76.html http://yourherbsoutlet.com
Redirect 301 /d77.html http://yourherbsoutlet.com
Redirect 301 /d78.html http://yourherbsoutlet.com
Redirect 301 /d79.html http://yourherbsoutlet.com
Redirect 301 /d80.html http://yourherbsoutlet.com
Redirect 301 /d81.html http://yourherbsoutlet.com
Redirect 301 /d82.html http://yourherbsoutlet.com
Redirect 301 /d83.html http://yourherbsoutlet.com
Redirect 301 /d84.html http://yourherbsoutlet.com
Redirect 301 /d85.html http://yourherbsoutlet.com
Redirect 301 /d86.html http://yourherbsoutlet.com
Redirect 301 /d87.html http://yourherbsoutlet.com
Redirect 301 /d88.html http://yourherbsoutlet.com
Redirect 301 /d89.html http://yourherbsoutlet.com
Redirect 301 /d90.html http://yourherbsoutlet.com
Redirect 301 /q1.html http://yourherbsoutlet.com
Redirect 301 /q2.html http://yourherbsoutlet.com
Redirect 301 /q3.html http://yourherbsoutlet.com
Redirect 301 /q4.html http://yourherbsoutlet.com
Redirect 301 /q5.html http://yourherbsoutlet.com
Redirect 301 /q6.html http://yourherbsoutlet.com
Redirect 301 /q7.html http://yourherbsoutlet.com
Redirect 301 /q8.html http://yourherbsoutlet.com
Redirect 301 /q9.html http://yourherbsoutlet.com
Redirect 301 /q10.html http://yourherbsoutlet.com
Redirect 301 /q11.html http://yourherbsoutlet.com
Redirect 301 /q12.html http://yourherbsoutlet.com
Redirect 301 /q13.html http://yourherbsoutlet.com
Redirect 301 /q14.html http://yourherbsoutlet.com
Redirect 301 /q15.html http://yourherbsoutlet.com
Redirect 301 /q16.html http://yourherbsoutlet.com
Redirect 301 /q17.html http://yourherbsoutlet.com
Redirect 301 /q18.html http://yourherbsoutlet.com
Redirect 301 /q19.html http://yourherbsoutlet.com
Redirect 301 /q20.html http://yourherbsoutlet.com
Redirect 301 /q21.html http://yourherbsoutlet.com
Redirect 301 /q22.html http://yourherbsoutlet.com
Redirect 301 /q23.html http://yourherbsoutlet.com
Redirect 301 /q24.html http://yourherbsoutlet.com
Redirect 301 /q25.html http://yourherbsoutlet.com
Redirect 301 /q26.html http://yourherbsoutlet.com
Redirect 301 /q27.html http://yourherbsoutlet.com
Redirect 301 /q28.html http://yourherbsoutlet.com
Redirect 301 /q29.html http://yourherbsoutlet.com
Redirect 301 /q30.html http://yourherbsoutlet.com
Redirect 301 /q31.html http://yourherbsoutlet.com
Redirect 301 /q32.html http://yourherbsoutlet.com
Redirect 301 /q33.html http://yourherbsoutlet.com
Redirect 301 /q34.html http://yourherbsoutlet.com
Redirect 301 /q35.html http://yourherbsoutlet.com
Redirect 301 /q36.html http://yourherbsoutlet.com
Redirect 301 /q37.html http://yourherbsoutlet.com
Redirect 301 /q38.html http://yourherbsoutlet.com
Redirect 301 /q39.html http://yourherbsoutlet.com
Redirect 301 /q40.html http://yourherbsoutlet.com
Redirect 301 /q41.html http://yourherbsoutlet.com
Redirect 301 /q42.html http://yourherbsoutlet.com
Redirect 301 /q43.html http://yourherbsoutlet.com
Redirect 301 /q44.html http://yourherbsoutlet.com
Redirect 301 /q45.html http://yourherbsoutlet.com
Redirect 301 /q46.html http://yourherbsoutlet.com
Redirect 301 /q47.html http://yourherbsoutlet.com
Redirect 301 /q48.html http://yourherbsoutlet.com
Redirect 301 /q50.html http://yourherbsoutlet.com
Redirect 301 /q51.html http://yourherbsoutlet.com
Redirect 301 /q52.html http://yourherbsoutlet.com
Redirect 301 /q53.html http://yourherbsoutlet.com
Redirect 301 /q54.html http://yourherbsoutlet.com
Redirect 301 /q55.html http://yourherbsoutlet.com
Redirect 301 /q56.html http://yourherbsoutlet.com
Redirect 301 /q57.html http://yourherbsoutlet.com
Redirect 301 /q58.html http://yourherbsoutlet.com
Redirect 301 /q59.html http://yourherbsoutlet.com
Redirect 301 /q60.html http://yourherbsoutlet.com
Redirect 301 /q61.html http://yourherbsoutlet.com
Redirect 301 /q62.html http://yourherbsoutlet.com
Redirect 301 /q63.html http://yourherbsoutlet.com
Redirect 301 /q64.html http://yourherbsoutlet.com
Redirect 301 /q65.html http://yourherbsoutlet.com
Redirect 301 /q66.html http://yourherbsoutlet.com
Redirect 301 /q67.html http://yourherbsoutlet.com
Redirect 301 /q68.html http://yourherbsoutlet.com
Redirect 301 /q69.html http://yourherbsoutlet.com
Redirect 301 /q70.html http://yourherbsoutlet.com
Redirect 301 /q72.html http://yourherbsoutlet.com
Redirect 301 /q73.html http://yourherbsoutlet.com
Redirect 301 /q74.html http://yourherbsoutlet.com
Redirect 301 /q75.html http://yourherbsoutlet.com
Redirect 301 /q76.html http://yourherbsoutlet.com
Redirect 301 /q77.html http://yourherbsoutlet.com
Redirect 301 /q78.html http://yourherbsoutlet.com
Redirect 301 /q79.html http://yourherbsoutlet.com
Redirect 301 /q80.html http://yourherbsoutlet.com
Redirect 301 /q81.html http://yourherbsoutlet.com
Redirect 301 /q82.html http://yourherbsoutlet.com
Redirect 301 /q83.html http://yourherbsoutlet.com
Redirect 301 /q84.html http://yourherbsoutlet.com
Redirect 301 /q85.html http://yourherbsoutlet.com
Redirect 301 /q86.html http://yourherbsoutlet.com
Redirect 301 /q87.html http://yourherbsoutlet.com
Redirect 301 /q88.html http://yourherbsoutlet.com
Redirect 301 /q89.html http://yourherbsoutlet.com
Redirect 301 /q90.html http://yourherbsoutlet.com
Redirect 301 /w1.html http://yourherbsoutlet.com
Redirect 301 /w2.html http://yourherbsoutlet.com
Redirect 301 /w3.html http://yourherbsoutlet.com
Redirect 301 /w4.html http://yourherbsoutlet.com
Redirect 301 /w5.html http://yourherbsoutlet.com
Redirect 301 /w6.html http://yourherbsoutlet.com
Redirect 301 /w7.html http://yourherbsoutlet.com
Redirect 301 /w8.html http://yourherbsoutlet.com
Redirect 301 /w9.html http://yourherbsoutlet.com
Redirect 301 /w10.html http://yourherbsoutlet.com
Redirect 301 /w11.html http://yourherbsoutlet.com
Redirect 301 /w12.html http://yourherbsoutlet.com
Redirect 301 /w13.html http://yourherbsoutlet.com
Redirect 301 /w14.html http://yourherbsoutlet.com
Redirect 301 /w15.html http://yourherbsoutlet.com
Redirect 301 /w16.html http://yourherbsoutlet.com
Redirect 301 /w17.html http://yourherbsoutlet.com
Redirect 301 /w18.html http://yourherbsoutlet.com
Redirect 301 /w19.html http://yourherbsoutlet.com
Redirect 301 /w20.html http://yourherbsoutlet.com
Redirect 301 /w21.html http://yourherbsoutlet.com
Redirect 301 /w22.html http://yourherbsoutlet.com
Redirect 301 /w23.html http://yourherbsoutlet.com
Redirect 301 /w24.html http://yourherbsoutlet.com
Redirect 301 /w25.html http://yourherbsoutlet.com
Redirect 301 /w26.html http://yourherbsoutlet.com
Redirect 301 /w27.html http://yourherbsoutlet.com
Redirect 301 /w28.html http://yourherbsoutlet.com
Redirect 301 /w29.html http://yourherbsoutlet.com
Redirect 301 /w30.html http://yourherbsoutlet.com
Redirect 301 /w31.html http://yourherbsoutlet.com
Redirect 301 /w32.html http://yourherbsoutlet.com
Redirect 301 /w33.html http://yourherbsoutlet.com
Redirect 301 /w34.html http://yourherbsoutlet.com
Redirect 301 /w35.html http://yourherbsoutlet.com
Redirect 301 /w36.html http://yourherbsoutlet.com
Redirect 301 /w37.html http://yourherbsoutlet.com
Redirect 301 /w38.html http://yourherbsoutlet.com
Redirect 301 /w39.html http://yourherbsoutlet.com
Redirect 301 /w40.html http://yourherbsoutlet.com
Redirect 301 /w41.html http://yourherbsoutlet.com
Redirect 301 /w42.html http://yourherbsoutlet.com
Redirect 301 /w43.html http://yourherbsoutlet.com
Redirect 301 /w44.html http://yourherbsoutlet.com
Redirect 301 /w45.html http://yourherbsoutlet.com
Redirect 301 /w46.html http://yourherbsoutlet.com
Redirect 301 /w47.html http://yourherbsoutlet.com
Redirect 301 /w48.html http://yourherbsoutlet.com
Redirect 301 /w50.html http://yourherbsoutlet.com
Redirect 301 /w51.html http://yourherbsoutlet.com
Redirect 301 /w52.html http://yourherbsoutlet.com
Redirect 301 /w53.html http://yourherbsoutlet.com
Redirect 301 /w54.html http://yourherbsoutlet.com
Redirect 301 /w55.html http://yourherbsoutlet.com
Redirect 301 /w56.html http://yourherbsoutlet.com
Redirect 301 /w57.html http://yourherbsoutlet.com
Redirect 301 /w58.html http://yourherbsoutlet.com
Redirect 301 /w59.html http://yourherbsoutlet.com
Redirect 301 /w60.html http://yourherbsoutlet.com
Redirect 301 /w61.html http://yourherbsoutlet.com
Redirect 301 /w62.html http://yourherbsoutlet.com
Redirect 301 /w63.html http://yourherbsoutlet.com
Redirect 301 /w64.html http://yourherbsoutlet.com
Redirect 301 /w65.html http://yourherbsoutlet.com
Redirect 301 /w66.html http://yourherbsoutlet.com
Redirect 301 /w67.html http://yourherbsoutlet.com
Redirect 301 /w68.html http://yourherbsoutlet.com
Redirect 301 /w69.html http://yourherbsoutlet.com
Redirect 301 /w70.html http://yourherbsoutlet.com
Redirect 301 /w72.html http://yourherbsoutlet.com
Redirect 301 /w73.html http://yourherbsoutlet.com
Redirect 301 /w74.html http://yourherbsoutlet.com
Redirect 301 /w75.html http://yourherbsoutlet.com
Redirect 301 /w76.html http://yourherbsoutlet.com
Redirect 301 /w77.html http://yourherbsoutlet.com
Redirect 301 /w78.html http://yourherbsoutlet.com
Redirect 301 /w79.html http://yourherbsoutlet.com
Redirect 301 /w80.html http://yourherbsoutlet.com
Redirect 301 /w81.html http://yourherbsoutlet.com
Redirect 301 /w82.html http://yourherbsoutlet.com
Redirect 301 /w83.html http://yourherbsoutlet.com
Redirect 301 /w84.html http://yourherbsoutlet.com
Redirect 301 /w85.html http://yourherbsoutlet.com
Redirect 301 /w86.html http://yourherbsoutlet.com
Redirect 301 /w87.html http://yourherbsoutlet.com
Redirect 301 /w88.html http://yourherbsoutlet.com
Redirect 301 /w89.html http://yourherbsoutlet.com
Redirect 301 /w90.html http://yourherbsoutlet.com
Redirect 301 /e1.html http://yourherbsoutlet.com
Redirect 301 /e2.html http://yourherbsoutlet.com
Redirect 301 /e3.html http://yourherbsoutlet.com
Redirect 301 /e4.html http://yourherbsoutlet.com
Redirect 301 /e5.html http://yourherbsoutlet.com
Redirect 301 /e6.html http://yourherbsoutlet.com
Redirect 301 /e7.html http://yourherbsoutlet.com
Redirect 301 /e8.html http://yourherbsoutlet.com
Redirect 301 /e9.html http://yourherbsoutlet.com
Redirect 301 /e10.html http://yourherbsoutlet.com
Redirect 301 /e11.html http://yourherbsoutlet.com
Redirect 301 /e12.html http://yourherbsoutlet.com
Redirect 301 /e13.html http://yourherbsoutlet.com
Redirect 301 /e14.html http://yourherbsoutlet.com
Redirect 301 /e15.html http://yourherbsoutlet.com
Redirect 301 /e16.html http://yourherbsoutlet.com
Redirect 301 /e17.html http://yourherbsoutlet.com
Redirect 301 /e18.html http://yourherbsoutlet.com
Redirect 301 /e19.html http://yourherbsoutlet.com
Redirect 301 /e20.html http://yourherbsoutlet.com
Redirect 301 /e21.html http://yourherbsoutlet.com
Redirect 301 /e22.html http://yourherbsoutlet.com
Redirect 301 /e23.html http://yourherbsoutlet.com
Redirect 301 /e24.html http://yourherbsoutlet.com
Redirect 301 /e25.html http://yourherbsoutlet.com
Redirect 301 /e26.html http://yourherbsoutlet.com
Redirect 301 /e27.html http://yourherbsoutlet.com
Redirect 301 /e28.html http://yourherbsoutlet.com
Redirect 301 /e29.html http://yourherbsoutlet.com
Redirect 301 /e30.html http://yourherbsoutlet.com
Redirect 301 /e31.html http://yourherbsoutlet.com
Redirect 301 /e32.html http://yourherbsoutlet.com
Redirect 301 /e33.html http://yourherbsoutlet.com
Redirect 301 /e34.html http://yourherbsoutlet.com
Redirect 301 /e35.html http://yourherbsoutlet.com
Redirect 301 /e36.html http://yourherbsoutlet.com
Redirect 301 /e37.html http://yourherbsoutlet.com
Redirect 301 /e38.html http://yourherbsoutlet.com
Redirect 301 /e39.html http://yourherbsoutlet.com
Redirect 301 /e40.html http://yourherbsoutlet.com
Redirect 301 /e41.html http://yourherbsoutlet.com
Redirect 301 /e42.html http://yourherbsoutlet.com
Redirect 301 /e43.html http://yourherbsoutlet.com
Redirect 301 /e44.html http://yourherbsoutlet.com
Redirect 301 /e45.html http://yourherbsoutlet.com
Redirect 301 /e46.html http://yourherbsoutlet.com
Redirect 301 /e47.html http://yourherbsoutlet.com
Redirect 301 /e48.html http://yourherbsoutlet.com
Redirect 301 /e50.html http://yourherbsoutlet.com
Redirect 301 /e51.html http://yourherbsoutlet.com
Redirect 301 /e52.html http://yourherbsoutlet.com
Redirect 301 /e53.html http://yourherbsoutlet.com
Redirect 301 /e54.html http://yourherbsoutlet.com
Redirect 301 /e55.html http://yourherbsoutlet.com
Redirect 301 /e56.html http://yourherbsoutlet.com
Redirect 301 /e57.html http://yourherbsoutlet.com
Redirect 301 /e58.html http://yourherbsoutlet.com
Redirect 301 /e59.html http://yourherbsoutlet.com
Redirect 301 /e60.html http://yourherbsoutlet.com
Redirect 301 /e61.html http://yourherbsoutlet.com
Redirect 301 /e62.html http://yourherbsoutlet.com
Redirect 301 /e63.html http://yourherbsoutlet.com
Redirect 301 /e64.html http://yourherbsoutlet.com
Redirect 301 /e65.html http://yourherbsoutlet.com
Redirect 301 /e66.html http://yourherbsoutlet.com
Redirect 301 /e67.html http://yourherbsoutlet.com
Redirect 301 /e68.html http://yourherbsoutlet.com
Redirect 301 /e69.html http://yourherbsoutlet.com
Redirect 301 /e70.html http://yourherbsoutlet.com
Redirect 301 /e72.html http://yourherbsoutlet.com
Redirect 301 /e73.html http://yourherbsoutlet.com
Redirect 301 /e74.html http://yourherbsoutlet.com
Redirect 301 /e75.html http://yourherbsoutlet.com
Redirect 301 /e76.html http://yourherbsoutlet.com
Redirect 301 /e77.html http://yourherbsoutlet.com
Redirect 301 /e78.html http://yourherbsoutlet.com
Redirect 301 /e79.html http://yourherbsoutlet.com
Redirect 301 /e80.html http://yourherbsoutlet.com
Redirect 301 /e81.html http://yourherbsoutlet.com
Redirect 301 /e82.html http://yourherbsoutlet.com
Redirect 301 /e83.html http://yourherbsoutlet.com
Redirect 301 /e84.html http://yourherbsoutlet.com
Redirect 301 /e85.html http://yourherbsoutlet.com
Redirect 301 /e86.html http://yourherbsoutlet.com
Redirect 301 /e87.html http://yourherbsoutlet.com
Redirect 301 /e88.html http://yourherbsoutlet.com
Redirect 301 /e89.html http://yourherbsoutlet.com
Redirect 301 /e90.html http://yourherbsoutlet.com